.MuiFilledInput-underline:after {
	border-bottom: 2px solid var(--red-border-color) !important;
}

.PrivateTabIndicator-colorSecondary-4 {
	background-color: var(--red-border-color) !important;
}

.MuiTabs-indicator {
	background-color: var(--red-border-color) !important;
}

.MuiFilledInput-input {
	background-color: white !important;
	padding: 20px 10px !important
}
.MuiInput-underline:after {
	border-bottom: 2px solid var(--red-border-color) !important;
}