.adminschedule {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width:100%;

	
	.body {
		padding: 0 1.5rem;
		margin-bottom: 1rem;
	}

	.dateGrid {
		margin-bottom: 1rem;
		display:flex;
		flex-direction: row;
		align-items: center;
		
		.custom-input {
			background-color: var(--picker-bg-color);
			color: white;
			border-radius: 1rem;
			font-size: 1.2rem;
			padding: 0.5rem;
			border:none;
			cursor:pointer;
			transition-property: filter;
			transition-duration: 0.5s;
		}
		.custom-input:hover {
			filter:brightness(0.8);
			transition-property: filter;
			transition-duration: 0.5s;
		}
	}

	.btn-con{
		display: flex;
		width:100%;
		justify-content: space-around;
		color: white;

	}
	.MuiInputBase-input {
		text-align: center !important;
	}
	.MuiFilledInput-input {
		background-color: transparent !important;
		padding: 0px !important;
	}
	.MuiTableCell-root {
		padding: 0.5rem !important;
	}
}
