.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.slider {
		width: 100%;
		height: 20rem;
		margin-bottom: 1rem;
	}

	.movie-list{
		width: 80%;
		margin-bottom: 2rem;
	}

	.movies {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		min-width: 25%;
		color: white;
	}

	.rank {
		font-size: 1.5rem;
		align-self: flex-start;
	}
}