.main {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.main-content {
		height:100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.slider {
		height: 15rem;
	}

	.movie-list{
		width: 80%;
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}

	.movies {
		margin-left: 1rem;
		display: flex;
		flex-direction: column;
		min-width: 25%;
	}

	.rank {
		color: white;
		font-size: 2rem
	}
}