.movieDetail {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;

	.detail-body {
		padding: 0 5%;
	}

	.head-typo {
		font-size: 1.5rem;
		font-weight: bold;
	}

	// <-- movie
	.movie {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;

		.movie-right {
			margin-left: 1rem;
			display:flex;
			flex-direction: column;
			justify-content: space-between;
			width:100%;
		}

		.movie-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 1.5rem;
		}
		.circle {
			width: 3rem;
			height: 3rem;
			font-weight: bold;
			margin-right: 0.5rem;
		}
		.tag {
			font-size: 1rem;
			background-color: #B48484;
			padding: 0.2rem;
			border-radius: 5px;
			margin-left: 0.5rem;
		}

		.movie-middle {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.review {
			display:flex;
			flex-direction:row;
			align-items:center;
		}

		.movie-last{
			font-size: 0.9rem;
		}
	}
	// movie -->
	
	.tabLabel {
		font-size: 1.2rem;
	}

	//<-- tab content
	.tab-content {
		margin-bottom: 5rem;
	}
	.body-head {
		font-weight: bold;
		margin: 1rem 0;
	}
	.comment {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 2rem;

		.star-grid {
			background-color: #B48484;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
		}
		.comment-body {
			background-color: white;
			color: black;
		}
		.comment-submit {
			background-color: #B48484;
		}
		.star-clicker {
			cursor: pointer;
		}
	}

	.list-con {
		border-top: 3px solid rgb(201, 201, 201);
		margin: 1rem 0;
	}
	.comment-box {
		border-bottom: 1px solid rgb(201, 201, 201);
		padding: 1rem 0;
	}
}